.header{
  display: flex;
  justify-content: space-evenly;
  font-size:x-large;
  .btnel {
    background-color: orange;
  }
}

@media (max-width:600px){
  .header{
    flex-direction: column;
  }
 .sec5{
  flex-direction: column;
 }
 .sec2{
  flex-direction: column;
  padding:0;
  margin: 0;
  flex-wrap: wrap;
 }
 .section1{
  padding: 10px;
  flex-direction: column;
}


}



@media (max-width:480px){
  
  .banner{
    flex-direction: column;
     align-items: start;
  }
  .sec5-1{
    flex-direction: column;
   }
 .footer{
  flex-direction: column;
 } 
 .sec10{
  flex-direction: column;

 }
 .grtst{
  left: 0%;
 }
 .sec8{
  flex-direction: column;
 }
 .sec1trust{
  flex-direction: column;
 }

}



.div1{
  flex-basis: 40%;
}

.div2{
  flex-basis: 40%;
}

.div3{
  flex-basis: 20%;
 }

.divsec{
width: 98vw; 
background: linear-gradient(96.22deg, #FFA229 9%, #1C4670 59.37%);
}

.listel{
font-size: large;
font-weight: 900;
font: bolder;
background: linear-gradient(161.91deg, #FFA229 10%, #2F5795 68%);
background-clip: text;
-webkit-text-fill-color: transparent;

}


.footer{
  width: 97vw;
}



.phone1{
  height: calc(var(--height)*0.45);
}

@media (min-width:900px) and (max-width:1100px) {
  
.phone{
  height:calc(var(--height)*0.5);
}
.phone1{
  position: relative;
  top: calc(var(--height)*0.13);
}
.phone2{
  position: relative;
  top: calc(var(--height)*0.1);
}

}

@media (min-width:800px) and (max-width:900px) {
  
  .phone{
    height:calc(var(--height)*0.6);
  }
  .phone1{
    position: relative;
    top: calc(var(--height)*0.26);
  }
  .phone2{
    position: relative;
    top: calc(var(--height)*0.26);
  }
  
  }

  @media (min-width:650px) and (max-width:800px) {
  
    .phone{
      height:calc(var(--height)*0.6);
    }
    .phone1{
      position: relative;
      top: calc(var(--height)*0.3);
    }
    .phone2{
      position: relative;
      top: calc(var(--height)*0.33);
    }
    
    }

    @media (min-width:550px) and (max-width:650px) {
  
      .phone{
        height:calc(var(--height)*0.6);
      }
      .phone1{
        position: relative;
        top: calc(var(--height)*0.33);
      }
      .phone2{
        position: relative;
        top: calc(var(--height)*0.35);
      }
      
      }

      @media (min-width:450px) and (max-width:550px) {
  
        .phone{
          height:calc(var(--height)*0.6);
        }
        .phone1{
          position: relative;
          top: calc(var(--height)*0.37);
        }
        .phone2{
          position: relative;
          top: calc(var(--height)*0.39);
        }
        
        }

        @media (min-width:400px) and (max-width:450px) {
  
          .phone{
            height:calc(var(--height)*0.6);
          }
          .phone1{
            position: relative;
            top: calc(var(--height)*0.39);
          }
          .phone2{
            position: relative;
            top: calc(var(--height)*0.42);
          }
          
          }

          
        @media (min-width:350px) and (max-width:400px) {
  
          .phone{
            height:calc(var(--height)*0.7);
          }
          .phone1{
            position: relative;
            top: calc(var(--height)*0.5);
          }
          .phone2{
            position: relative;
            top: calc(var(--height)*0.55);
          }
          
          }

          @media (min-width:200px) and (max-width:350px) {
  
            .phone{
              height:calc(var(--height)*0.8);
            }
            .phone1{
              position: relative;
              top: calc(var(--height)*0.6);
            }
            .phone2{
              position: relative;
              top: calc(var(--height)*0.65);
            }
            
            }  

@media (min-width:900px) {
  .sec4main{
    flex-direction: row;
  }
  
}